html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    block styles 
      link(rel="stylesheet", type='text/css', href="form.css")

  body
    h1 Form

    form(method="post" action="/form")
      label(for="name") name
      input(type="text" name="name")
      br  
      label(for="email") email
      input(type="text" name="email")
      br  
      label(for="message") message
      textarea(rows="5" cols="30" name="message")
      br  
      input(type="submit" value="post")
